.form-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: indigo;
}

.form-container {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 400px;
  height: 130vh;
  
}
